// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

$gray: #8a8787;
$lightgrey: #ececec;
$aqua: #28bccf;
$turquoise: #2AE6FA;
$royalblue: #2D82FA;
$white: #ffffff;
