// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;

$gray: #8a8787;
$offwhite: #fafafa;
$aqua: #2Ac0DE;
$dark-turquoise: #07bcc2;
$turquoise: #39DABD;
$royalblue: #2D82FA;
$white: #ffffff;
$lightgrey: #f0f0f0;
$darkblue: #0050ab;
$navyblue: #032b58;
$bluelogo: #01385f;
