// Specific CSS for your home-page
#medications .input {
  margin-left: 10px;
}

#medications div.nested-fields table {
  margin-left: 150px;
  width: 80%;
}

#medications label.boolean.optional {
  width: 50px;
}

#medications input[type="text"] { margin:  8px; }

td.done_column { width: 80px; }


//.add_fields, .remove_fields { margin-left: 150px; }

#medications > .nested-fields > table .remove_fields { margin-left: 0px; line-height: 30px; }

#medications .clearfix { margin-bottom: 2px; }

#medications > .nested-fields > .links > a.add_fields { margin-top: 2px; width:100%; display:block; margin-bottom: 20px; }
#medications > .links > a.add_fields { margin-top: 20px; width: 100%; display:block; border-top: 1px dashed silver; }

.project-tag-fields { padding: 2px; border: 1px dashed #ddd; }

.sub_medications { margin-left: 100px; }

td .btn {
  margin-left: 3px;
}

.well.well-compact {
  margin: 5px;
}
