<div class="nested-fields">
  <%= simple_fields_for(@medications) do |f| %>
    <fieldset>
      <%= f.input :name %>
      <%= f.input :daily_dosage %>
      <%# link_to_remove_association f do %>
        <%# Delete %>
      <%# end %>
    </fieldset>
  <% end %>
</div>
