<div class="container mt-4">
  <div class="cards col-12 col-lg-6 border-0 rounded-5 p-2">
    <h1 class="text-center mt-1 mb-0 text-uppercase align-bottom fw-bolder">Edit this dianosis</h1>
  </div>

  <div class="row">
    <div class="cards col-12 col-lg-6 border-0 rounded-5">
      <%= render 'form', { diagnosis: @diagnosis } %>
      <div class="row g-0">
        <h3>Medications in use</h3>
        <ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <p><%= link_to "My profile", user_path(current_user), class: "btn btn-primary rounded-3" %></p>
  </div>
</div>

</div>
