<div class="container">
  <h1>New Diagnosis</h1>

  <%= simple_form_for([@user, @diagnosis]) do |f| %>
    <%= f.input :disease %>
    <%= f.input :medication %>
    <%= f.submit "Add diagnosis", class: "btn btn-primary" %>
  <% end %>
</div>
