<div class="container mt-4">
  <div class="cards col-12 col-lg-6 border-0 rounded-5 p-2">
    <div class="card mb-5 border-0 rounded-5">
      <h1 class="text-center mt-1 mb-0 text-uppercase align-bottom fw-bolder">ADD NEW DIAGNOSIS</h1>
    </div>
    <div class="card mb-5 p-4 border-2 rounded-5">
      <%= render 'form', { diagnosis: @diagnosis } %>
    </div>
    <div>
      <p><%= link_to "My profile", user_path(current_user), class: "btn btn-primary rounded-3" %></p>
    </div>
  </div>
</div>
