<div class="container mt-4">
  <div class="row">
    <div class="cards col-12 col-lg-6 border-0">
      <div class="card border-2 rounded-3">
        <p> Test text </p>
        <p> Test text </p>
        <p> Test text </p>
        <p> Test text </p>
        <p> Test text </p>
        <p> Test text </p>
        <p> Test text </p>
        <p> Test text </p>
        <p> Test text </p>
        <p> Test text </p>
      </div>
    </div>
  </div>
</div>
