<div class="container mt-4">

  <div class="banner">
    <h1>HOMEPAGE</h1>
  </div>

  <div class="row g-0">
    <div class="cards col-12 col-lg-6 border-0 rounded-5">
      <div class="row g-0">
        <h1 class="text-center mt-1 mb-0 text-uppercase fw-bolder">HOMEPAGE</h1>
      </div>

      <div class="row g-0">

      </div>
    </div>
  </div>
</div>
