<div class= "container" >

  <div class="banner" min-height= 100%; border-radius-xl; style="background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)), url(https://cdn11.bigcommerce.com/s-2t5fkq8mli/images/stencil/960w/uploaded_images/family-double-piggyback-small.jpg?t=1659564456);">
    <div class="container">
     <h1><em>Your</em> health in <em>your</em> hands</h1>
    </div>
  </div>

  <div class = "cards-resources">
    <% @resources.each do |resource| %>
      <%= link_to resource_path(resource), class: 'text-decoration-none' do %>
        <%#= adding cloudinary function to show castle images %>
        <%#=if user uploads the picture then it's going to show, else it's showing the DB picture %>
        <div class="card-category" >
          <h2><%= resource.name %></h2>
          <h4><%= "More information to protect your health" %></h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
