<div class= "container" >

  <div class="banner">
    <h1><%= @resource.name %></h1>
  </div>

  <h3><%= @resource.details %></h3>

  <div class="button">
    <%= link_to "Back to all", :back, class: "btn btn-primary" %>
  </div>

</div>
