<div class="container">
  <h1>Add a new Survey</h1>

  <%= render 'form', status: :unprocessable_entity %>

  <div>
    <p><%= link_to "back to list", root_path,
           class: "btn btn-primary" %></p>
  </div>
</div>
