<div class="container">
  <h1><%= @survey.title %></h1>
</div>
<div class="container">
  <h2>Interval Days:</h2>
  <ul>
    <% @survey.interval_days.each do |interval| %>
      <li>
        <%= interval %>
      </li>
    <% end %>
  </ul>
</div>
<div class="container">
  <h2>Questions:</h2>
      <% @survey.questions.each do |question| %>
        <div class="card mb-4">
          <%= question.content %>
            <ul>
              <% question.answers.each do |answer| %>
                <li><%= answer.content %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
</div>
