.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("quality-of-life.png");
  margin-bottom: 10px;
}

.banner h1, h2 {
  margin: 1;
  color: $turquoise;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  text-align: center;
}

.banner p {
  margin: 1;
  color: $turquoise;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  text-align: center;
}
