.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  cursor: pointer;
  display: inline-block;
  // font-size: 16px;
  font-size: 0.8rem;
  border-radius: 50rem;
  padding: 0.2rem 0.6rem;
  background-color: hsl(240, 100%, 96%);
  color: darkblue;
  border: 1px solid darkblue;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: darkblue;
  color: white;
}

// ----------------------------------------------

.answers-display-grid {
  display: grid;
}

.progressbar{
  color: grey;
  font-size:16px;
  font-weight: lighter;
  text-align: center;
}

.question{
  font-size:22px;
}
