<div class="container">
 <% content_for :meta_title, "#{@appointment.name} is on #{DEFAULT_META["meta_product_name"]}" %>
 <% content_for :meta_description, @appointment.description %>

  <%= simple_form_for @appointment, data: { controller: 'flatpickr' } do |f| %>
    <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
    <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
    <%= f.submit 'Schedule your appointment' %>
  <% end %>
</div>
